@tailwind base;
@tailwind components;
@tailwind utilities;

.section.cards-container {
  background: 50% 50% / cover no-repeat rgb(54, 90, 139);
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.section.cards-container.highlight {
  background: 50% 50% / cover no-repeat rgb(43, 67, 100);
}

.cards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  padding: 20px 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;

}

.cards > div > div {
 width: 100%;
 padding: 20px;
}


.section.cards-wrapper {
  margin: initial;
}



.cards {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.cards {
  max-width: 970px;
}



.cards h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0;
}

.cards p {
  font-size: 16px;
}

.cards p a {
  color: #da7b40;
}

.cards  picture  img {
  width: 30%;
}

.cards-container.highlight .cards picture img {
  width: 30%;
}

@media (max-width: 767.98px) {
  .cards  div {
    width: 100%;

  }
  .cards > div:not(:last-child) {
    border-bottom: 1px solid hsla(0,0%,100%,.25)
  }

  .cards-container.highlight .cards picture img {
    width: 100px;
  }

  .cards {
    flex-direction: column;
  }

}
