.section.cards-container {
  @apply py-10 px-5 flex justify-center;
  background: 50% 50% / cover no-repeat rgb(54, 90, 139);
}

.section.cards-container.highlight {
  background: 50% 50% / cover no-repeat rgb(43, 67, 100);
}

.cards > div {
  @apply flex flex-col items-center w-4/12 py-5 text-white font-raleway;
}

.cards div {
  @apply phone:w-full;
}

.cards > div > div {
  @apply w-full p-5;
}


.section.cards-wrapper {
  margin: initial;
}



.cards {
  @apply flex text-center justify-evenly phone:flex-col;

}

.cards {
  @apply max-w-[970px];
}

.cards h2 {
  @apply text-3xl font-light mt-0;
}

.cards p {
  @apply text-base;
}

.cards p a {
  @apply text-headwire-link;
}

.cards  picture  img {
  @apply w-30;

}

.cards-container.highlight .cards picture img {
  @apply w-30 phone:w-full;
}

.cards > div:not(:last-child) {
  @apply border-b border-solid border-[hsla(0,0%,100%,.25)]
}
