.experience-container {
  background: url("https://www.headwire.com/content/headwire/assets/site/background-pattern.webp");
}

.experience-container.section {
  @apply pb-50 pt-100 px-5;
}

.experience > div {
  @apply w-full flex justify-center items-center font-raleway;
  color: #777;
}

.experience img {
  width: 100%;

}

.experience > div > div {
  margin-right: 2rem;
}

.experience h2 {
  font-size: 36px;
  font-weight: 400;
}

.experience p  {

  font-size: 16px;

}

@media (max-width: 767.98px) {
  .experience picture {
    display: none;
  }
}
