/* block specific CSS goes here */

@tailwind base;
@tailwind components;
@tailwind utilities;


main .hero-container > div {
    max-width: unset;
    background: url('https://www.headwire.com/content/headwire/assets/site/heading-image.webp') 0% 100% / cover no-repeat;
    font-family: 'Raleway', sans-serif;
    padding: 138px 20px 181px;

}

main .hero-container {
    padding: 0;
}

.hero > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.hero > div > div p {
    margin: 0;
}


main .hero {
    position: relative;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero h1,
.hero div  {
    color: white;
    font-weight: normal;
}

main .hero picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

}



@media (max-width: 767.98px) {

    main .hero-wrapper {
        padding: 315px 20px 240px;
    }
    .hero img {
        width: 75px;

    }
    .hero h1 {
        font-size: 30px;
    }
}
