@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  @apply bg-black;
}

.blog > div {

  display: flex;
  align-items: center;

}

.blog {
  font-family: 'Raleway', sans-serif;
  color: black;
}

.button {
  padding: 8px;
  border-radius: 16px;
  border: 2px rgb(54, 90, 139) solid;
  color: rgb(54, 90, 139) !important;
  background-color: transparent;
}

.blog-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 20%);
}

.blog > div p {
  font-size: 16px;
}
